@import "tailwindcss";

@theme {
  --font-outfit: "Outfit", sans-serif;

  --color-dark-navy: #1a2a33;
  --color-semi-dark-navy: #1f3641;
  --color-light-yellow: #f2b137;
  --color-light-yellow-shadow: #cc8b13;
  --color-light-blue: #31c3bd;
  --color-light-blue-shadow: #118c87;
  --color-silver: #a8bfc9;

  --shadow-box-dark-navy: inset 0px -8px 0px 0px #10212a;
  --shadow-box-light-yellow: inset 0px -8px 0px 0px #cc8b13;
  --shadow-box-light-blue: inset 0px -8px 0px 0px #118c87;
  --shadow-box-silver: inset 0px -4px 0px 0px #6b8997;
}
